<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<add value="/swagger/index.html"/>
			</files>
		</defaultDocument>
		<httpErrors errorMode="Detailed"></httpErrors>
	</system.webServer>
	<system.web>

		<customErrors mode="Off" />
		<compilation debug="true" defaultLanguage="c#" />
	</system.web>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=tcp:loyaltyprogram.database.windows.net,1433;Initial Catalog=Loyalty;Persist Security Info=False;User ID=azureuser;Password=Loyalty@Program;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" />
	</connectionStrings>
	
	
</configuration>